*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/*header and nav style*/
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.header{
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 10px;
}
.text-primary{
    color: brown;
}
.btn-primary{
    height: 40px;
    border-radius: 5px;
    background-color: coral;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    padding: 10px 25px;
}
.btn-secondery{
    height: 40px;
    border-radius: 5px;
    background-color: cadetblue;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    padding: 10px 25px; 
    margin-left: 20px;
}
/*Banner style*/
.banner{
    margin: 0 120px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 5px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 10px;
}
.banner-description{
    color: brown;
    margin-bottom: 20px;
}
/* main section*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section styles*/
.about{
    margin-top: 50px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
    margin-bottom: 20px;
    color: darkgreen;
    font-size: 30px;
    font-weight: 700;

}
.section-description{
    color: darkslategray;
    font-size: 18px;
    margin-bottom: 25px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: lightsalmon;
}
.about .info-description{
    font-weight: 300;
    font-size: 15px;
}
/*what i do style*/
.what-i-do{
    margin-top: 130px;
    text-align: center;
    color: black;
}
.skills-container{
    display: flex;
    gap: 20px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.skill-description{
    color: brown;
    text-align: inherit;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.section-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 5px;
}
.sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}
.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    text-align: center;
}
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 20px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
.contact a{
    text-decoration: none;
    padding-left: 50px;
}
.contact p{
    margin-bottom: 20px;
}